html * {margin: 0; padding: 0; font-size: 1rem; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 200;}

body {
  margin: 0;
}

#story-background {
  width: 100vw;
  height: 100vh;
  margin: 0;
  z-index: -2;
  position: fixed;
  background-image: url(img/story_background.png);
  background-size: auto 100%;
  background-position: 0% 0%;
  -webkit-background-size: auto 100%;
}

#story-scrollbar {
  width: 0vw; 
  position: fixed; 
  top: 0; 
  left: 0; 
  height: 5px; 
  background-color: #ffffff; 
  z-index: 999;
}

.story-title {
  display: block; 
  opacity: 1; 
  color: #ffffff; 
  z-index: 10; 
  font-weight: 600;
  width: 100vw;
  position: fixed; 
  text-align: center; 
  margin: 0 auto; 
  font-size: 3vw; 
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

#story-title-one {
}

#story-title-two {
}

#story-title-three {
  font-weight: 200;
  top: 55%;
  width: 75vw; 
  font-size: 1.5vw; 
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

#story-title-three b {
  font-weight: 800;
}  

.company-logo {
  position: fixed; 
  display: block;
  background-color: #ffffff;
  width: 10vw !important;
  height: 10vw;
  border-radius: 10vw;
  z-index: 5;
  border: 1vw solid rgba(0,0,0,0.5);
}

.big-symbol-logo {
  position: fixed; 
  display: block;
  background-color: rgba(255,255,255,0.5);
  width: 25vw !important;
  height: 25vw;
  border-radius: 12.5vw;
  z-index: 5;
}

#story-bluetooth {
  height: 500px;
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.user {
    stroke: #ffffff;
    height: 30px;
    stroke-width: 15px;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#user-1 {
    top: 40%;
    left: 40%;
}

#user-2 {
    top: 45%;
    left: 25%;
}

#user-3 {
    top: 50%;
    left: 35%;
}

#user-4 {
    top: 60%;
    left: 30%;
}

#user-5 {
    top: 35%;
    left: 30%;
}

#user-6 {
    top: 60%;
    left: 40%;
}

#user-7 {
    top: 40%;
    left: 60%;
}

#user-8 {
    top: 45%;
    left: 75%;
}

#user-9 {
    top: 50%;
    left: 65%;
}

#user-10 {
    top: 60%;
    left: 70%;
}

#user-11 {
    top: 35%;
    left: 70%;
}

#user-12 {
    top: 60%;
    left: 60%;
}

#story-title-eleven b {
  font-weight: 800;
  font-size: 5vw; 
}

#story-title-eleven small {
  font-weight: 200;
  font-size: 5vw; 
}

#story-title-eleven-sub {
  font-family: 'Walter Turncoat', cursive;
  font-weight: 400;
  font-size: 3vw; 
  font-style: italic;
  top: 80%;
}

#story-app-icon {
  display: block;
  position: fixed; 
  height: 15vw; 
  top: 20%; 
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 3vw;
}